---
layout: page
title: Projects
permalink: /projects/
---

<h3 class="randomcolor text-center pb-3">Projects</h3>

{% for item in site.data.projects %}
{% if item.projectName != nil and item.projectDescription != nil %}
<div class="row pb-3">
  <div class="card bg-transparent border-0 ">
    {% if item.projectImage != nil %}
    <img src="{{ item.projectImage }} " class="card-img-top w-100" alt="{{ item.projectImageAlt }}">
    {% if item.photoBy != nil %}
    <p style="font-size:75%;">Photo by <a class="randomcolor" href="{{ item.photoByURL }}" target="_blank">{{item.photoBy}}</a> from <a class="randomcolor" href="{{ item.photoFromURL}}" target="_blank">{{item.photoFrom}}</a></p>
    {% endif %}
    {% endif %}
    <div class="card-body">
      {% if item.projectGithub != nil %}
      <h5 class="card-title"><a class="randomcolor" href="{{ item.projectGithub }}" target="_blank"> {{ item.projectName }} </a></h5>
      {% else %}
      <h5 class="randomcolor card-title"> {{ item.projectName }} </h5>
      {% endif %}
      <p class="card-text"> {{ item.projectDescription }} </p>
      <div class="row">
        {% if item.projectGithub != nil %}
        <div class="col-sm pb-2 text-center">
          <a href="{{ item.projectGithub }}" class="btn btn-secondary text-white w-50" target="_blank">Source</a>
        </div>
        {% endif %}
        {% if item.projectURL != nil %}
        <div class="col-sm text-center">
          <a href="{{ item.projectURL }}" class="btn btn-secondary text-white w-50" target="_blank">Check It Out</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <hr>
</div>
{% endif %}
{% endfor %}

