---
layout: page
title: Projects
permalink: /projects/
---

{% for item in site.data.projects %}
<div class="project-item">
    <div class="project-title">
    {% if item.projectURL and item.projectGithub %}
        <h3 class="project-header"><a class="randomcolor" href="{{ item.projectURL }}" target="_blank">{{ item.projectName }}</a></h3>
        <a class="randomcolor" href="{{ item.projectGithub }}" target="_blank"> (source)</a>
    {% elsif item.projectURL %}
        <h3 class="project-header"><a class="randomcolor" href="{{ item.projectURL }}" target="_blank">{{ item.projectName }}</a></h3>
    {% elsif item.projectGithub%}
        <h3 class="project-header"><a class="randomcolor" href="{{ item.projectGithub }}" target="_blank">{{ item.projectName }}</a></h3>
        <a class="randomcolor" href="{{ item.projectGithub }}" target="_blank">(source)</a>
    {% endif %}
    </div>
        <p class="project-description"> {{ item.projectDescription }} </p>
</div>
{% endfor %}

