<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

    {%- if titles_size > 0 -%}



<nav class="navbar navbar-expand-lg navbar-light"> 
  <div class="container">        
    <a class="navbar-brand d-flex align-items-center" href="/">         
      <img class="me-1" height="30" src="/assets/img/logo.png">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">   
      <ul class="navbar-nav">
          <li class="nav-item ms-2">
	    <a class="page-link" href= "/">Home</a>
	  </li>
          {%- for path in page_paths -%}
            {%- assign my_page = site.pages | where: "path", path | first -%}
            {%- if my_page.title -%}
	    <li class="nav-item ms-2">
              <a class="page-link" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
	    </li>
            {%- endif -%}
          {%- endfor -%}
 
        </ul>
    </div>
  </div>
</nav> 
    {%- endif -%}
  </div>
</header>
