---
#
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
#
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

// -----------------
// -------- Elements

html {
    background-color: #2d333b;
}

li {
  color: white !important;
}

//old color was #2e3944
pre {
  background-color: #111 !important;
}

//old color was #32f43e (Harsh green)
code {
  font-size: 100% !important;
  color: #73ca78 !important;
}

a.text-dark:hover {
  color: #98B8EB !important;
}

a:hover {
  color: #5381CA;
}

ul.tags li a {
  color: white;
  background-color: #222;
}

// -------- endElements
// --------------------


.layout-page {
  background-color: #22272e !important;
}


// -----------------------
// -------- HiddenElements

//Ugly font site title on top of page
.mainheading h1.sitetitle {
  display: none;
}

//Author gravatar image thing
.post-top-meta .author-thumb {
  display: none;
}

//Hide disqus while not using it
#comments {
  display: none;
}

//email subscription thing
.alertbar {
  display: none !important;
}

//wierd jumbotron thing at bottom of page
.jumbotron.fortags {
  display: none !important;
}

// -------- endHiddenElements
// --------------------------


// ---------------
// -------- Navbar

.navbar-toggler {
  background-color: gray !important;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-brand:hover,
.navbar-brand:active {
  color: #98B8EB;
}

.mediumnavigation .navbar-brand img {
  color: white !important;
}

.navbar-light .navbar-nav .nav-link {
  color: white !important;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .active > .nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show > .nav-link {
  color: white !important;
}

// -------- endNavbar
// ------------------


// ---------------
// -------- Search

.modal-content {
  background-color: #22272e;
}

.modal-title, 
small, 
.close {
  color: white !important;
}

//old color #32f43e
.lunrsearchresult .title {
  color: #6192E1 !important;
}

// -------- endSearch
// ------------------


// ---------------
// -------- Header



// -------- endHeader
// ------------------


// -------------
// -------- Body

.btn.follow {
  border-color: white;
}

.site-content {
  background-color: #2d333b;
  color: white;
}

.photo-credit {
  font-size: 80% !important;
  margin-bottom: 20px;
}

.article-post {
  font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
  font-size: 0.95rem !important;
  line-height: 1.6 !important;
  font-weight: 400 !important;
}

.article-post h1,
.article-post h2,
.article-post h3,
.article-post h4,
.article-post h5,
.article-post h6 {
  color: white;
}

.article-post p, 
.link-dark, 
.post-top-meta .author-description {
  color: white !important;
}

.bg-white {
  background-color: #1e2228 !important;
}

span.post-date, span.post-name a {
  color: white !important;
}

/*
//old color #3473d8
a, 
.share p {
  color: #B364F7 !important;
}

a,
.d-block,
.share p {
  color: #BCC0F7 !important;
}
 
*/

a, 
.share p {
  color: #BCC0F7 !important;
}

#previous-button,
#next-button, {
  color: white !important;
}

.mediumnavigation {
    background: rgb(34, 39, 46) !important;
}

.card-body {
  background-color: #1E2228 !important;
}

.card {
  border: 0px !important;
  background-color:#1E2228 !important;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 12px;
}

.text-dark, 
.listrecent h4.card-text,
.listfeaturedtag h4.card-text{
  color: white !important;
}

.PageNavigation {
  margin-bottom: 30px;
}

.PageNavigation a:hover {
  color: #5381CA !important;
}

.text-lg-left, 
.text-lg-right {
  color: #BCC0F7 !important;
}

.highlight .nt {
  color: #dd81d3;
}

// -------- endBody
// ----------------


// ---------------
// -------- Footer

.footer {
  margin-top: 0px !important; 
  background-color: #22272e !important; 
  margin-bottom: 0px !important;
}

.footer .text-lg-right, 
.footer .text-lg-left {
  color: white !important;
}  

.footer a {
  color: white !important;
}

// -------- endFooter
// ------------------
