---
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;


.mainheading h1.sitetitle {
    display: none;
}

.site-content {
    background-color: #2d333b;
    color:white;
}

.article-post p {color:white;}

.navbar-light .navbar-nav .nav-link:hover {color:pink;}

.text-lg-right, .text-lg-left {color:#688AB3}

ul.tags li a {
  color: white;
  background-color: #575F68;
}

.mediumnavigation {
    background: rgb(34, 39, 46) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {color:white;}
