---
#
# Add a comment to make this file sass-y.
# Change this file for any custom CSS.
#
---

/* We need to add display:inline in order to align the '>>' of the 'read more' link */
.post-excerpt p {
	display:inline;
}

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"syntax",
    "starsnonscss"
;

.alertbar {display:none !important}

.mainheading h1.sitetitle {
    display: none;
}

.site-content {
    background-color: #2d333b;
    color:white;
}

.article-post {

font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
font-size: 0.95rem !important;
line-height: 1.6 !important;
font-weight: 400 !important;

}

.article-post p {color:white;}

.navbar-toggler {background-color:gray !important}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-brand:hover, .navbar-brand:active {color:pink;}

a, .d-block, .text-lg-left {color:#3473d9}

a:hover {color:#688AB3}

ul.tags li a {
  color: white;
  background-color: #575F68;
}

.mediumnavigation {
    background: rgb(34, 39, 46) !important;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-brand {color:white;}

a.text-dark:hover {color:pink !important}

.card-body {background-color: #1E2228 !important}

.text-dark, .listrecent h4.card-text {color:white !important;}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {color: white !important;}

.jumbotron.fortags {display:none !important;}

.text-lg-right {color:white;}
.footer {background-color: #22272e !important; margin-bottom: 0px !important;}
