---
---
@import "main";


body {
	font-family: arial;
}

h2 a, p a {
	color: #98B8EB !important;
	text-decoration: none;
}

h2 a:hover, p a:hover {
	color:#588CDF !important;
	
}

img {
	width: 100%;
}

.navbar-brand {
	font-size: 1.5rem;
}

.photo-credit {
    font-size: 80% !important;
    margin-bottom: 20px;
}






/*
 * Globals
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

html, body, .wrapper {
   height: 100%;
   width: 100%;
}

.wrapper {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  overflow:auto;
}


.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

