---
---
@import "main";

:root {
  --rand: #98b8eb;
}

body {
  font-family: arial;
}

blockquote {
  font-style: italic;
  padding: 0 0 0 10px;
  margin: 2rem 1rem 2rem 1rem;
  //border-left: 2px solid #ccc;
}

.highlighter-rouge {
  background-color: #474766;
  border-radius: 3px;
  padding: 3px 6px 3px 6px;
  //color: rgb(129, 210, 239) !important;
  color: #eaf8ff !important;
}

//Old .highlighter-rouge colors. Grey background slightly blue text
//.highlighter-rouge {
  //background-color: #4a4a4a;
  //border-radius: 3px;
  //padding: 2px 3px 2px 3px;
  ////color: rgb(129, 210, 239) !important;
  //color: #99d2ee !important;
//}

code {
  //font-size: .9rem !important;
  //color: rgb(129, 210, 239) !important;
  //background-color: #2a3a4a;
  //padding: 2px 4px 1px 4px;
  //border-radius: 2px;
}

.highlight, .highlight .w {
  color: #f8f8f2 !important;
  /*background-color: #212529;*/
  background-color: transparent !important;
  //padding: 0px !important;
  padding: 5px 10px 10px 10px !important;
  border: 1px solid #717171 !important;
  border-radius: 3px !important;
}

pre {
  margin-bottom: -0.5em;
}

.randomcolorheader {
  color: var(--rand);
  text-decoration: none;
}

.randomcolor, h2 a, p a {
  text-decoration: none;
}

/*
h2 a, p a {
color: #98B8EB !important;
text-decoration: none;
}
 */


h2 a:hover,
h4 a:hover,
p a:hover,
a:hover {
  color:#588CDF !important;

}

img {
  width: 100%;
}

.iconimg {
  width: 20px;
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(104deg) brightness(103%) contrast(102%);
}

.navbar-brand {
  font-size: 1.5rem;
}

.photo-credit {
  font-size: 80% !important;
  margin-bottom: 20px;
}

.task-list-item-checkbox {
  margin-right: 4px;
}
/*
 * Globals -- COVER PAGE --
 */


/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
}


/*
 * Base structure
 */

html, body, .wrapper {
  height: 100%;
  width: 100%;
}

.wrapper {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  overflow:auto;
}


.cover-container {
  max-width: 42em;
}

/*
 * Header
 */

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.card-img-top {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
