---
---

@import "minima";

/*Old background color was #282828*/
.site-header, .site-footer {
  background-color: #22272E;
  color: white;
  border-top: none !important;
  border-bottom: none !important;
}

.site-title, .site-title:visited {
  color: white;
}

.site-nav .page-link {
  color: white;
}


/*Old color was #383838*/
.page-content {
  background-color: #2d333b;
  color: white;
}

.post-link {
  color:white !important;
}

h1, h2, h3, h4, h5, h6 {
  color:white;
}

/*Old color was grey*/
a:link, a:visited {
  color: #3473d9;
  text-decoration: underline;
}

a:hover {color:pink;}

pre, code {
    background-color: #fff;
    color: #404040;
}

table {
    background-color: #282828;
    color: white;
}

table tr {
    background-color: #282828 !important;
}

.rss-subscribe {
    display: none;
}

@screen and (max-width: 600px)
.site-nav .menu-icon > svg {fill:white;}
.site-nav {background-color: #282828;}
