---
layout: default
title: Blog
---

{% for post in paginator.posts %}
<div class="row">
  <div class="col-md-2 col-lg-3 col-xxl-4">
  </div>
  <div class="col-md-8 col-lg-6 col-xxl-4 py-3 text-white">
    {% if post.url contains "draft" %}
      <h3 class="text-center"><a class="randomcolorheader" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p class="text-center" style="margin-bottom:0;">{{ post.date | date_to_string}} - {{ post.author }} </p>
      <p style="font-size:80%" class="text-center">{% include reading-time.html %}</p>
      <h5>Coming Soon!</h5>
    {% else %}
      <h3 class="text-center"><a class="randomcolorheader" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h3>
      <p class="text-center" style="margin-bottom:0;">{{ post.date | date_to_string}} - {{ post.author }} </p>
      <p style="font-size:80%" class="text-center">{% include reading-time.html %}</p>
 
      {{ post.excerpt }}
    {% endif %}
    <div class="row justify-content-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <!--<a class="btn btn-outline-light btn-sm" href="{{ site.baseurl }}{{ post.url }}">Read More</a>-->
        <a class="randomcolor" href="{{ site.baseurl }}{{ post.url }}">Read More...</a>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  <div class="col-md-2 col-lg-3 col-xxl-4">
  </div>
</div>
{% endfor %}

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="row justify-content-center">
  <div class="col-3">
  </div>
  <div class="col-6">
    <div class="pagination justify-content-center">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous randomcolor">
        Previous&ensp;
      </a>
      {% else %}
      <span class="previous">Previous&ensp;</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next randomcolor">&ensp;Next</a>
      {% else %}
      <span class="next ">&ensp;Next</span>
      {% endif %}
    </div>
  </div>
  <div class="col-3">
  </div>
</div>
{% endif %}
