---
layout: default
title: Blog
---

<div class="row justify-content-center">
  {% for post in paginator.posts %}
  <div class="py-3  col-md-6 text-white">
    <h2><a class="randomcolorheader" href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h2>
    {{ post.excerpt }}
    <div class="row justify-content-center">
      <div class="col-md-4">
      </div>
      <div class="col-md-4 d-flex justify-content-center">
        <!--<a class="btn btn-outline-light btn-sm" href="{{ site.baseurl }}{{ post.url }}">Read More</a>-->
        <a class="randomcolor" href="{{ site.baseurl }}{{ post.url }}">Read More...</a>
      </div>
      <div class="col-md-4">
      </div>
    </div>
  </div>
  {% endfor %}
</div>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="row justify-content-center">
  <div class="col-3">
  </div>
  <div class="col-6">
    <div class="pagination justify-content-center">
      {% if paginator.previous_page %}
      <a href="{{ paginator.previous_page_path }}" class="previous randomcolor">
        Previous&ensp;
      </a>
      {% else %}
      <span class="previous">Previous&ensp;</span>
      {% endif %}
      <span class="page_number ">
        Page: {{ paginator.page }} of {{ paginator.total_pages }}
      </span>
      {% if paginator.next_page %}
      <a href="{{ paginator.next_page_path }}" class="next randomcolor">&ensp;Next</a>
      {% else %}
      <span class="next ">&ensp;Next</span>
      {% endif %}
    </div>
  </div>
  <div class="col-3">
  </div>
</div>
{% endif %}
