---
layout: default
---
<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-6 pb-2 mb-4 border-bottom">
    <h2 class="randomcolor">{{ page.title }}</h2>
    <p class="pb-4">{{ page.date | date_to_string }} - {{ page.author }}</p>

    {% if page.image and page.imageauthor == False %}
    <img style="padding-bottom:2rem;" class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">
    {% elsif page.image and page.imageauthor and page.imageauthorlink and page.imagelink and page.imagelinkname %}
    <img class="featured-image img-fluid" src="{% if page.image contains "://" %}{{ page.image }}{% else %}{{ site.baseurl }}/{{ page.image }}{% endif %}" alt="{{ page.title }}">

    <div class="photo-credit">Photo by <a class="randomcolor" href="{{ page.imageauthorlink }}">{{ page.imageauthor }}</a> on <a class="randomcolor" href="{{ page.imagelink }}">{{ page.imagelinkname }}</a></div>
    {% endif %}

    {{ content }}
    <div class="pb-3 text-center">
      {% if post %}
      {% assign categories = post.categories %}
      {% else %}
      {% assign categories = page.categories %}
      {% endif %}
      {% for category in categories %}
      <a href="{{site.baseurl}}/categories/#{{category|slugize}}" class="randomcolor btn btn-outline-light btn-sm">{{category}}</a>
      {% endfor %}
    </div>

  </div>
  <div class="col-md-3">
  </div>
</div>

<div class="row">
  <div class="col-md-3">
  </div>
  <div class="col-md-3">
    {% if page.previous.url %}
    <a class="randomcolorheader" href="{{page.previous.url}}">&laquo;&nbsp;{{page.previous.title}}</a>
    {% endif %}
  </div>
  <div class="col-md-3" style="text-align:right;">
    {% if page.next.url %}
    <a class="randomcolorheader" href="{{page.next.url}}">{{page.next.title}}&nbsp;&raquo;</a>
    {% endif %}
  </div>
  <div class="col-md-3">
  </div>
</div>


